<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjektPDABEntities" connectionString="metadata=res://*/Model.ModelFaktury.csdl|res://*/Model.ModelFaktury.ssdl|res://*/Model.ModelFaktury.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAMIL-PC\SQLEXPRESS;initial catalog=ProjektPDAB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>